{
    "devices": [
        {
            "screen_id": "",
            "name": "YouTube on TV",
            "offset": 0
        }
    ],
    "skip_categories": [
        "sponsor"
    ],
    "skip_count_tracking": true,
    "mute_ads": true,
    "skip_ads": true,
    "auto_play": true,
    "join_name": "iSponsorBlockTV",
    "apikey": "",
    "channel_whitelist": [
        {"id": "",
        "name": ""
        }
    ]
}
