name: update docker description

# Controls when the workflow will run
on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
    paths:
      - 'README.md'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
          # Get the repository's code
      - name: Checkout
        uses: actions/checkout@v4

          # Update description
      - name: Update repo description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: dmunozv04/isponsorblocktv
          short-description: ${{ github.event.repository.description }}
